body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    background-image: url(Images/Ski.jpg);
    background-position: center;
    max-width: 100%;
    max-height: 20%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content {
    color: white;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    gap: 550px;
}

.container-block1 {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.mountain {
    width: 300px;
    height: 400px;
}

button.signup {
    background: #27251F;
    border: 1px solid white;
    color: white;
}

button {
    padding: 8px 26px;
    border-radius: 8px;
}

.leftside {
    gap: 20px;
}

.rightside {
    color: #F8F0E3;
}

.defined {
    font-size: 900;
    max-width: 400px;
}

.background2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 5px;
    gap: 5px;
}

.approach {
    height: 5rem;
    width: 70.6875rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.background3 { 
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
    text-align: center;
    justify-content: center;
}

.background4 {
    background-color: #3b444b;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.biometrics {
    margin-left: 80px;
}

.row3-1 {
    display: flex;
    align-self: center;
    font-weight: bold;
    margin-right: 40px;
}

.row3 {
    width: 600px;
    color: whitesmoke;
}

.background5 {
    display: flex;
    justify-content: space-between;
    background-color: royalblue;
    margin: 80px;
    padding: 10px 200px;
    border-radius: 10px;
    width: 65%;
}

.signup2 {
    background: royalblue;
    border: 1px solid white;
    color: white;
}

.defined1 {
    color: white;
}

.row5 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer {
    background-color: #192841;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
    left: 0;
    bottom: 0;
}
